/* --------------------- */
/* GENERAL LAYOUT */
/* --------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #f6f8fc;
    margin: 0;
    padding: 0;
    color: #222;
    transition: background 0.4s, color 0.4s;
}

.dark body {
    background: #121212;
    color: #eaeaea;
}

/* Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* Section Titles */
.section-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}

/* --------------------- */
/* PRELOADER */
/* --------------------- */
#preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.dark #preloader { background:#121212; }

.loader {
    border:
